<main class="main">
  
    <section class="section">
      <div class="head_post">
  
        <div class="head_post_intro">
          <p class="intro">Aquí podrás ver últimas noticias de tandas, de la presente temporada 2025</p>
          <img src="/images/salida.jpg" alt="salida" class="img_intro" />
          <p class="head_post_presentation">En este blog, encontrarás información próximas tandas y rutas 2025.
            Si te gusta la velocidad y la adrenalina, no dudes en seguirnos.
            Diviertete y disfruta de la velocidad con nosotros.
          </p>
        </div>
  
        <div class="head_tabs">        
          <ul class="tabs">
            <li [class.activo]="pulseButton === 'Post'" (click)="hidenfrm('Post')">Post</li>
            <li [class.activo]="pulseButton === 'New Post'" (click)="hidenfrm('New Post')">New Post</li>
          </ul>
        </div>
  
        <div class="head_frm">
          <label for="selector" class="select">Filtrar</label>
          <select id="selector" class="select" (change)="changeHandler($event)">
            <option value="">Selecciona una fecha</option>
            @for (item of arrPublicaciones; track $index) {
            <option value="{{item.fecha}}">{{item.fecha}}</option>
            } @empty {
            <h2>No hay publicaciones en la fecha seleccionada.</h2>
            }
          </select>
  
        </div>
  
      </div>
  
     
  
      @if (pulseButton === 'New Post') {
      <form class="frm">
        <header class="head">
          <h1 class="titleh1">{{ titleHead }}</h1>
        </header>
  
        <div class="form-group form-group-date-image">
          <label for="fecha">Fecha:</label>
          <input [class]="{sinvalid: dateInvalid}"  type="date" id="fecha" name="fecha" [(ngModel)]="fecha"/>
          <label class="lblImage" for="img">Imagen:</label>
          <input [class]="{sinvalid: imgInvalid}" type="text" id="img" name="img" class="input_img" [(ngModel)]="imagen" placeholder="/images/mi.jpg" />
        </div>
  
        <div class="form-group form-group_title">
          <label for="titulo">Título:</label>
          <input [class]="{sinvalid: titleInvalid}" type="text" id="titulo" name="titulo" class="input_title" maxlength="50" [(ngModel)]="titulo" />
        </div>
  
  
        <div class="form-group form-group_articulo">
          <label for="articulo">Artículo:</label>
          <textarea [class]="{sinvalid: articleInvalid}" id="articulo" name="articulo" class="input_articulo" [(ngModel)]="noticia"></textarea>
        </div>
  
        <button class="submit" type="button" (click)="submitHandler()">
          Publicar
        </button>
        @if (errorFrm) {
        <p class="error_submit" [style.color]="'red'">{{msgError()}}</p>
        }
      </form>
      }
        
      <div class="adventures">
  
        <ul class="adventures_list">
  
          @for (item of publicaciones; track $index; let impar = $odd; let par
          = $even; let last = $last; let first = $first) {
          <article class="adventures_article">
            <div class="adventures_item">
              <h3 class="article_title">{{item.titulo}}</h3>
              <p class="date">{{item.fecha}}</p>
              <img id="img{{$index}}" class="img" [src]="item.imagen" [alt]="item.titulo"
                (click)="toggleNoticia($index)" />
              <p id="p{{$index}}" class="noticia">{{item.noticia}}</p>
            </div>
          </article>
  
          @if (visibleNoticiaIndex === $index) {
          <div class="adventures_coment">
            <p class="p_title_complet">Noticia completa:</p>
            <p id="p_adventures{{$index}}" class="noticia_completa">{{item.noticia}}</p>
          </div>
          }
          }
        </ul>
  
      </div>
    </section>
  </main>
  
  <footer class="footer">
    <p class="footer_p">© 2025 Tandas y Rutas. Todos los derechos reservados.</p>
  
  </footer>